.group {
	font-size: 12px;
	font-weight:bold;
	margin-top: 10px;
	margin-left: 10px;
}
.groupDiv{
	margin-bottom: 10px;
}
.host {
	display: inline-block;
	height: 15px;
	line-height: 15px;
	width:260px;
	font-weight: bold;
	text-align: left;
	float: left;
	margin: 0 0 20px 10px;
}

#grpHostDiv {
	height: 1500px;
	overflow: auto;
}

.repeatSpan {
	display: inline-block;
	height: 65px;
	line-height: 30px;
	width:260px;
	background-color: red;
	border: solid #D3D3D3 1px;
	font-weight: bold;
	color: white;
	text-align: center;
	float: left;
	margin: 0 0 20px 10px;
}

.noStartSpan {
	overflow:hidden;
	height: 65px;
	line-height: 30px;
	width:260px;
	background-color: yellow;
	border: solid #D3D3D3 1px;
	font-weight: bold;
	color: red;
	text-align: center;
	float: left;
	margin: 0 0 20px 10px;
}

.normalSpan {
	display: inline-block;
	height: 65px;
	line-height: 30px;
	width:260px;
	background-color: #0084D6;
	border: solid #D3D3D3 1px;
	font-weight: bold;
	color: white;
	text-align: center;
	float: left;
	margin: 0 0 20px 10px;
}
.noSpan {
	display: inline-block;
	height: 65px;
	line-height: 30px;
	width:260px;
	background-color: green;
	border: solid #D3D3D3 1px;
	font-weight: bold;
	color: white;
	text-align: center;
	float: left;
	margin: 0 0 20px 10px;
}
.serverTab{
	margin: auto;
}
.tab{
	margin: auto;
}